@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/*Small devices (landscape phones, 576px and up)*/

.icon-footer {
/*	position: fixed;
	bottom: 0;*/
	height: 15vh;
	z-index: 2;
	font-size: 25vw;
	text-align: right;
	width: 100vw;
	color: grey;
/*	background-color: darkseagreen;
*/
}

a {
	color: grey;
}

.parallax {

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    height: 7vh;
	width: 100vw;
	z-index: 2;
	display: flex;
    justify-content: space-between;
    border: 1px solid grey; 
}

.sticky {
	position: fixed;
	bottom: 0;
}

#content {
	background: beige;
}

.text-pane {
	display: flex;
	width: 90%;
	padding:5%;
    height: 100%;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    line-height: 1.8;
}

.pane {
	display: flex;
	flex-direction: column;
    background-size: cover;
	width: 50%;
	align-items: center;
    height: 100%;
}

.pane__full {

	width: 100%;
}

.center-of-pane {
	display: flex;
	flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.linkedin-logo {
    width: -webkit-fill-available;
}



.slide {
    display: flex;
    align-items: center;
	height: 100vh;
	width: 100vw;
	position: sticky;
}

.slide__bottom {

	padding-bottom: 0vh;
}

.slide__half {

	height: 50.5vh !important;
}

.namerow {
	height: 95%;
    align-items: center;
	padding-right: 4%;
	padding-left: 1%;
	font-size: 1.7em;
    white-space: nowrap;
    font-family: azonix, sans-serif;
    color: grey;
    display: flex;
}

.title {
	display: flex;
	align-content: center;
}

.iconrow {
    align-items: center;
display: inline-flex;
	margin-left: auto;
}

.iconcol {
	margin-right: 4vw;
}

.iconlink {
	font-size: 100%;
    padding-right: 5%;
}

.icon {
	font-size: 1.7em;
}

.fourth {
	width:22%;
/*	height: 100%;
*//*	padding-left: ;
*/	padding-right: 3%;
}

/*.fourth-first{
	padding-left: 0;
}*/

#root {
	height: 100%;
}

/*img {
	max-width: 100%;
	height:auto;
    text-align: center;
}*/

body, html {
/*  height: 100%;
*/  width: 100%;
  margin: 0px;

}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
