@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/*Small devices (landscape phones, 576px and up)*/

.expand-icon {

}

.icon-footer {
	position: fixed;
	bottom: 0;
	height: 15vh;
	z-index: 2;
	font-size: 25vw;
	text-align: right;
	width: 100vw;
	background-color: darkseagreen;

}

.topnav {
	position: fixed;
	text-align: right;
	top: 0;
	left: 0;
	width: 0px;
	padding-top: 15vh;
	background-color: peachpuff;
	height: 85%;
	z-index: 1;
	overflow: hidden;
}

.topnav a {
	width: auto;
	display: inline-block;
}

.link-table {
	width: 100vw;
}


.navicon {
	padding: 1vh;
	font-size: 8vh;
}

.header {
	text-align: right;
    height: 10vh;
	width: 100vw;
	background:darkseagreen;
	z-index: 2;
}

.sticky {
	position: fixed;
	top: 0;
}

#content {
	padding-top: 10vh;
	padding-bottom: 15vh;
	height: 75vh;
}

.text-pane {
	display: flex;
	width: 90%;
	padding:5%;
    height: 90%;
}

.pane {
	display: flex;
	flex-direction: column;
    background-size: cover;
	width: 50%;
	align-items: center;
    height: 100%;
}

.pane__full {

	width: 100%;
}

.center-of-pane {
	display: flex;
	flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.linkedin-logo {
    width: -webkit-fill-available;
}

.resume-title-label {

    display: inline;
    font-family: Azonix;
	font-size: 5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: black;
}

.slide {
    display: flex;
    align-items: center;
	height: 100%;
}

.third {
	width:33%;
}

.fourth {
	width:20vw;
	height: 20vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
}

.fourth-first{
	padding-left: 0;
}

#root {
	height: 100%;
}

img {
	max-width: 100%;
	height:auto;
    text-align: center;
}

body, html {
  height: 100%;
  margin: 0px;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
